*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  height: 100vh;
}

body {
  font-family: fantasy;
  font-size: 14pt;
  background: white;
}

#nextlevel {
  font-family: fantasy;
  font-size: 14pt;
  line-height: 1.8em;
  padding-top: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 1em;
}

.hidden {
  visibility: hidden;
}

.wallpaper {
  padding: 5px;
  font-family: fantasy;
  font-size: 14pt;
  cursor: pointer;
}

.pusheen {
  background: url('pusheen.png');
  background-size: cover;
}

.zelda {
  background: url('zelda.png');
  background-size: cover;
}

.red-panda {
  background: url('red panda.jpg');
  background-size: cover;
}

.ganondorf {
  background: url('ganondorf.png');
  background-size: cover;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 130px 100px auto 260px 100px;
}

.backdrop {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  opacity: 0.76;
}

header {
  padding: 10px;
  display: grid;
  grid-template-columns: 200px auto;
  color: white;
}

.level {
  padding: 10px;
  color: white;
}

.stats {
  padding: 10px;
  display: grid;
  grid-template-columns: 120px auto;
}

.words {
  padding: 10px;
  background: white;
  display: grid;
  font-family: 'Courier New', Courier, monospace;
  font-size: 150%;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.letter {
  text-align: center;
}

.incorrect {
  background: rgb(255, 124, 124);
}

.correct {
  background: lightgreen;
}

.outlined {
  outline: solid 2px rgb(224, 123, 224);
}

.summary {
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary h1 {
  font-size: 32pt;
}

.summary-body {
  padding: 10px;
  font-size: 20pt;
  display: grid;
  grid-template-columns: 300px auto;
}

.rank {
  padding: 20px;
  color: white;
}

footer {
  padding: 0 20px 0 20px;
}